@import "mixins.scss";
@import "variables.scss";

body{
    background-image: url(https://images.pexels.com/photos/1089438/pexels-photo-1089438.jpeg?cs=srgb&dl=photo-of-green-data-matrix-1089438.jpg&fm=jpg);
    font-family: 'Courier New', Courier, monospace;
}

h1{
    color: $boum;
    @include top;
}

h2{
    color: $green;
    text-align: center;

    &:hover{
        color: $light;
    }
}

h3{
    color: $green;
    @include back;
    text-align: center;

    &:hover{
        color: $light;
    }
}

p{
    color: $light;
}

.explanation{
    margin-left: 50px;
    margin-right: 50px;
}

.participation{
    @extend .explanation;
}

.requirements{
    @extend .explanation;
}

.benefits{
    @extend .explanation;
}

.design-selection{
    @extend .explanation;
}

.design-archives{
    @extend .explanation;
}

.zen-resources{
    @extend .explanation;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a{
    color: $light;

}