@import "mixins.scss";
@import "variables.scss";

h1{
    color: $boum;
    @include top;
}

h2{
    color: $ah;

    &:hover{
        color: $oklm;
    }
}

h3{
    color: $noir;
    @include back;

    &:hover{
        color: $ah;
    }
}

p{
    color: $toto;
}

.explanation{
    margin-left: 50px;
    margin-right: 50px;
}

.participation{
    @extend .explanation;
}

.requirements{
    @extend .explanation;
}

.benefits{
    @extend .explanation;
}

.design-selection{
    @extend .explanation;
}

.design-archives{
    @extend .explanation;
}

.zen-resources{
    @extend .explanation;
}